.text1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
}
.text2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px}
.text3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.text4 { font-family: "Times New Roman", Times, serif; font-size: 24px}
.text5 { font-family: "Times New Roman", Times, serif; font-size: 28px}.text6 {
font-family: "Times New Roman", Times, serif; font-size: 24px
}
.text7 {

font-family: "Times New Roman", Times, serif; font-size: 20px
}
