/* ===== CONTACT MINIMAL SERIOUS ===== */
@media (max-width: 1023px) {
  .contact-box {
    border-radius: 0px;
    margin: 0px;
  }

  .contact-page {
    padding-inline: 0;
    gap: 15px;
  }

  .contact-intro {
    padding-inline: calc(var(--spacing) * 8);
    gap: 15px;
  }

  .contact-content {
    gap: 5px;
  }

  .contact-content h1 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .contact-text {
    display: none;
  }
}

/*        */
@media (max-width: 400px) {
  .contact-text {
    display: none;
  }
}