/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style global */
body {
  font-family: Arial, sans-serif;
  background: #f8f9fb;
  color: #222;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}
