/* ---------------------------- */
/*        HEADER NAVBAR         */
/* ---------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.navbar h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}
.nav-links a {
  font-weight: 500;
  color: var(--nav-links);
  font-style: normal;
  text-decoration: none;
}

.nav-btn {
  padding: 10px 18px;
  border-radius: 999px;
  border: 1px solid ;
  border-color: var(--nav-btn-border);
  background: var(--nav-btn-bg);
  font-weight: 600;
  transition: 0.2s;
}


.nav-btn:hover {
  background: var(--nav-btn-bg-over);
}