.body {
	background-color: #8C3907;
	background-image: url(index.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.cont {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	color: #000000;
}
.bio {

	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	color: #000000;
}
.copy {


	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
}
.copy2 {



	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	color: #000000;
}
