defaut {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;	
}
.decalage{
	display: block; 
}
strong{
	font-weight: bold;
}
Arianne{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CFCFCF;
}
a:link{
	text-decoration: underline;
	color: #F2A34A;		
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #dea25f;
	text-align: center;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFC966;
	text-align: center;	
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFC966;
	text-align: center;	
}
.focusorange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFC966;
	font-weight: bold;
}
.orange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #dea25f;
}
collector{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-align: left;
	display: block;
	font-weight: bold;
	font-variant: small-caps;
}
.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFD2A6;
}
table {
	display: block;
	width: 100%;
}
p {
	display: block;
}
tr {
	display: block;
}
