

Legal {
	font-family: Tahoma, Verdana;
	color:#5F5F5F;
	font-size: 10px;
	font-weight: normal;
	display: block;
	text-align: center;
}
p {
	font-family: Tahoma, Verdana;
	color:#5F5F5F;
	font-size: 10px;
	font-weight: normal;
	display: block;
	text-align: center;
}
H1 {
	font-family: Tahoma, Verdana;
	color:#ffc966;
	font-size: 14px;
	display: block;
	text-align: center;
}

A {
	font-family: Tahoma, Verdana;
  color:#cccccc;
  font-size: 10px;
  display: inline;
  text-decoration:underline;
}

